<div class="container">

    <h1 class="text-center">Lista de Editoriales</h1>
    <br>
    <br>
  
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Editoriales</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of listaEditorial">
          <th>{{row.codigo}}</th>
          <td>{{row.nombre}}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editar(row.codigo)">Editar</button> 
          </td>
          <td>
            <button type="button" class="btn btn-danger"  (click)="eliminar(row.codigo)">Eliminar</button>
          </td>        
        </tr>
      </tbody>
    </table>
  </div>

